@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    
}

#sample-packs {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#sample-packs li {
    list-style: none;
    position: relative;
    background-image: linear-gradient(#29404e, #9eafb1);
    border: 4px solid #29404e;
    border-radius: 5px;
    width: 400px;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    text-align: center;
    
}

#sample-packs li h3 {
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
    
}

#sample-packs li img {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    transition: color 100ms ease-in-out;
    border: 3px solid #29404e;
    padding: 20px;
    width: 50%;
    margin-top: 10px;
    margin-left: 17px;
    background: #9eafb1;
    text-transform: uppercase;
    outline: #29404e;
}
button:hover {
    background: #29404e;
    color: white;
}

.price button {
    margin-right: 10px;
    margin-top: 20px;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.description {
    display: inline-block;
}
